@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;1,300&family=Raleway:wght@200&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
body {
  margin-top: 0px;
  padding: 0;
  /* color: #fff;
  background: #363636; */
}
nav {
  background: #e19c30;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
footer {
  /* margin-top: 320px; */
  background: rgb(210, 184, 162);
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #fff;
  text-decoration: none;
}
.author {
  width: 100%;
  padding: 78px 0px;
  background-color: #fff;
}
.author img {
  height: auto;
  width: 420px;
}
.info-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-text h1 {
  /* color: #fff; */
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.info-text h5 {
  /* color: #fff; */
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span {
  color:#e19c30;
}
.info-text p {
  color:#e19c30;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: #e19c30;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 20px;
  transition: .4s;
}
button:hover {
  background: transparent;
  border: 2px solid #e19c30;
  cursor: pointer;
}