@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;1,300&family=Raleway:wght@200&family=Ubuntu:ital,wght@0,300;0,700;1,400&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
body {
  margin-top: 0px;
  padding: 0;
  /* color: #fff;
  background: #363636; */
}
nav {
  background: #e19c30;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
blockquote {
  color: #1a2627;
  padding: 15px 0;
  text-align: center;
  }

a.active,
a:hover {
  background: #f0dec0;
  transition: 0.5s;
}
.container {
  width: 100%;
}
.container .row {
  width: 80%;
  margin: auto;
}
.container .row .header {
  width: 60%;
  text-align: center;
  margin: auto;
}
.container .row .header h1 {
  padding-top: 30px;
  font-size: 45px;
  color: #e19c30;
}
.container .row .header p {
  padding-top: 16px;
  font-size: 18px;
  line-height: 1.5;
  color: #6e6e6e;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.content .card {
  flex: 1;
  margin: 50px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.content .card img {
  width: 100%;
  height: auto;
}
.content .card h4 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}
.content .card p {
  font-size: 15px;
  color: #6e6e6e;
  line-height: 1.5;
  padding: 10px;
}
.footer-index {
  background-color: #e19c30;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
.footer-blog-post {
  /* margin-top: 320px; */
  /* background: rgb(210, 184, 162); */
  background-color: #e19c30;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}
.fa-github {
  color: white;
}
.fa-google-plus {
  color: white;
}
.fa-linkedin {
   color: white;
}
.fa-instagram {
  color: white;
}
.fa-pinterest {
  color: white;
}
.author {
  width: 100%;
  padding: 78px 0px;
  background-color: #fff;
}
.author img {
  height: auto;
  width: 420px;
}
.info-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-text h1 {
  /* color: #fff; */
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.info-text h5 figcaption {
  /* color: #fff; */
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span {
  color:#e19c30;
}
.info-text p {
  color:#e19c30;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: #e19c30;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 20px;
  transition: .4s;
}
button:hover {
  background: transparent;
  border: 2px solid #e19c30;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
